<%= render :partial => 'panel' %>

<% if flash[:errors] %>
  <div id='searchErrors'>
    <h2><%= t(:"rails_connector.views.search.search_failed") %></h2>
    <p class="errors">
      <%= flash[:errors] %>
    </p>
  </div>
<% end %>

<%= render :partial => 'hits' %>
