body {
  color:#fff;
  font-size:11px;
  font-family:'Lucida Grande', Helvetica, Verdana, Arial, sans-serif;
  background-color:#333;
}

#time-machine {
  width:425px;
  height:300px;
  margin:auto;
  margin-top:20px;
  padding:0;
  background:transparent url(../time_machine/timemachine_bg.png) no-repeat;
}

#slider {
  width:375px;
  height:50px;
  margin-left:25px;
  margin-top:15px;
}

#track {
  width:375px;
  height:23px;
  background:transparent url(../time_machine/slider_bg.png) no-repeat;
}

#handle {
  height:21px;
  width:50px;
  margin:2px;
  padding-right:2px;
  background:transparent url(../time_machine/slider_handle.png) no-repeat 0 2px;
  cursor:move;
}

#display {
  padding-top:5px;
  width:375px;
  text-align:center;
}

#calendar {
  width:250px;
  height:200px;
  padding-top:20px;
  margin-left:87px;
}

/* The main calendar widget.  DIV containing a table. */

.calendar {
  height:200px;
  position:relative;
  display: none;
  font-size: 11px;
  color: #fff;
  cursor: default;
  background:transparent url(../time_machine/calendar_bg.png) no-repeat;
  font-family: tahoma,verdana,sans-serif;
}

.calendar table {
  margin:10px;
  font-size: 11px;
  color: #fff;
  cursor: default;
  background:none;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;
  padding: 1px;
  border-bottom: 1px solid #666;
}

.calendar .nav {
  background: transparent url(../time_machine/calendar-menuarrow.gif) no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;
  padding: 1px;
  border: 1px solid #000;
  background:none;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #666;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .daynames { /* Row <TR> containing the day names */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom:1px solid #666;
  padding:2px;
  text-align:center;
  background:none;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #fff;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  padding: 0px;
  background-color: #999;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  padding: 2px 0px 0px 2px;
  background-color: #fff;
  color:#333;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #aaa;
}
.calendar tbody .day.othermonth.oweekend {
  color: #faa;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #666;
  background:none;
}

.calendar tbody .rowhilite td {
  background: #999;
}

.calendar tbody .rowhilite td.wn {
  background: #999;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  background:#666
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  padding: 2px 2px 0px 2px;
  border: 1px solid;
  border-color:#000;
}

.calendar tbody td.selected { /* Cell showing selected date */
  font-weight: bold;
  padding: 2px 2px 0px 2px;
  border: 1px solid;
  border-color: #000;
  background:#aaa;
  color:#fff;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #f00;
}

.calendar tbody td.today { /* Cell showing today date */
  font-weight: bold;
  color: #3366ff;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #e8f0f4;
  padding: 2px;
  border: 1px solid #000;
  background: #666;
  color: #fff;
  text-align: center;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
  padding: 1px;
  background: #d8e0e4;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  padding: 2px 0px 0px 2px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  width: 4em;
  top: 0px;
  left: 0px;
  cursor: default;
  background: #999;
  font-size: 90%;
  padding: 1px;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .active {
  background: #c8d0d4;
  padding: 0px;
}

.calendar .combo .hilite {
  background: #333;
  color: #fff;
}

.calendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
  background-color: #e8f0f4;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #fff;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: #667;
  color: #fff;
}

.calendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #0f0;
}
