<%= render :partial => 'flash_messages' %>

<br />

<ul>
  <li class="button_profile_edit"><%= link_to t('rails_connector.views.user.edit_link'), :action => "edit" %></li>
  <li class="button_edit_password"><%= link_to t('rails_connector.views.user.edit_password_link'), :action => "edit_password" %></li>
</ul>